*{
    margin: 0;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#2c3e50;
    
  }
  li{
      align-items: center;
  }
  
  nav a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav a:hover {
    background-color:#2c3e50;
    color:green;
  }
  #main-nav{
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: 700;
    background-color:#2c3e50;
   
  }
  .text-uppercase {
    text-transform: uppercase!important;
    font-size:x-large;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.container{
    display: flex;
    height: 100px;
    margin: 0 60 0 60;
}
.nav-left{
    display: flex;
    align-items:center; 
    width: 350px;
    font-size: x-large;
}
.list-item{
    display: flex;
}
.nav-right{
    display: flex;
    justify-content: flex-end;
    align-items:center; 
    width: 100%;
}

.container1{
    background-color: #1abc9c;
    height:600px;
    display:flex;
    flex-direction: column;
    align-items:center; 
    
}
.page-section-ab {
  padding:6rem 0;
  background-color: #1abc9c;
}
.text{
    color: aliceblue;
  
}
.form1{
   
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
       border: none;
        border-radius: 4px;
        border-bottom: 1px solid #e9ecef;
        font-size: x-large;
      
}
.ps{
    line-height: 2rem;
    padding: 6rem 0;
}
h1,h2,h4,p{
    font-weight: 700;
    line-height: 1.2;
    font-family: Lato,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.font{
    font-family: Lato,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

}
.row{
display: flex; 
flex-wrap: wrap;

justify-content: space-between;
}
.item-caption{
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.size-item{
    height: 250px;
    width: 350px;
    border-radius: 5%;
    
}
.size-item1{
    
    height: 250px;
    width: 350px;
    border-radius: 5%;
    position: absolute;
    top: 0;
    left: 0;
  
}
.size-item1:hover{
    opacity: 1;
    background-color: rgba(26,188,156,.9);
}


.container2{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 72px;
    margin-left: 72px;
}

.dai{
    height: 282px;
}
.lead{
    font-size: 1.25rem;
    font-weight: 300;
}
.cottrai{
    flex: 0 0 33.3333%;
    margin-left: auto!important;
    margin-right: 30px;
}
.cotphai{
    flex: 0 0 33.3333%;
    margin-right: auto!important;
}
.row1{
    padding-right: 15px;
    padding-left: 15px;
    display: flex; 
flex-wrap: wrap;
justify-content: center;
}
.text-button{
    color:white;
    font-size:1rem;
    text-decoration: none;
}
.button{
    user-select: none;
    background-color: transparent;
    border: .125rem solid white;
    padding: .375rem .75rem;
    font-size: 2rem;
    line-height: 1.5;
    border-radius: .5rem;
    font-weight: 400;
    padding: 1rem 1.75rem;
   width:208px;
}
.page-section-ct{
    padding: 6rem 0;
}
.button-sub{
    user-select: none;
    background-color: #1abc9c;
    border: .125rem solid white;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .5rem;
    font-weight: 400;
    padding: 1rem 1.75rem;
 
}
.footer{
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #2c3e50;
    color: #fff;
}
.text-center{
    text-align: center;
}
.cot-f{
    flex: 0 0 33.333%;
}
.mb-4{
    margin-bottom: 1.5rem;
}
.green{
    color:#1abc9c;
    text-decoration: none;
}
.copyright {
    background-color: #1a252f;
}
.pd{
    padding-top:2rem;
    padding-bottom:2rem;
}
p a:hover {
    color: #117964;
    text-decoration: underline;
}